.btn-cta::after {
    padding-left: 6px;
    content: '\00BB';
    font-size: 2.5rem;
    line-height: 1rem;
    vertical-align: sub;
    position: relative;
    animation: slide-right-loop 1s infinite;
}

@keyframes slide-right-loop {
    from {
        left: 0px;
        opacity: 1;
    }
    to {
        left: 8px;
        opacity: 0;
    }
  }

.btn-purple {
    background-color: var(--bs-purple);
    border-color: var(--bs-purple);
}

.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus,
.btn-purple:focus-visible {
    background-color: #5c36a0 !important;
    border-color: #5c36a0 !important;
}

img {
    max-width: 100%;
}
