.btn-cta::after {
    padding-left: 6px;
    content: '\00BB';
    font-size: 1.5rem;
    line-height: 1rem;
}

.bg-purple {
    background-color: var(--bs-purple);
}

.border-purple {
    border-color: var(--bs-purple);
}