@page "/"

<PageTitle>Home</PageTitle>

<!-- Main Section -->
<header class="container py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4">Hello, I'm a Software Engineer</h1>
            <p class="lead">With over six years of experience in building scalable solutions and enhancing user experiences with cutting-edge technologies.</p>
            <a class="btn btn-success btn-lg btn-purple" href="blogs" tabindex="1">
                <span class="btn-cta">Read my blog</span>
            </a>
        </div>
    </div>
</header>
 <!-- About Me Section -->
 <section id="about" class="container mb-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2>About Me</h2>
            <p>I'm a dedicated software engineer with a focus on creating impactful applications that drive efficiency and user satisfaction. My journey in tech has equipped me with a robust foundation in backend and frontend development, allowing me to design and deliver high-performance solutions.</p>
            <p>
                I come with over 7 years of experience. Highly skilled in full-stack web development using .NET and MS SQL ecosystem. Actively pursuing the next challenging problem aiming to see myself in R&D in the next five years.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/images/undraw_Programming_re_kg9v.png" alt="Software Engineer Illustration" class="img-fluid" style="max-height: 300px;">
        </div>
    </div>
</section>
<!-- Experience Section -->
<section id="experience" class="bg-light py-5">
    <div class="container">
        <h2 class="text-center">Experience</h2>
        <div class="row mt-4 g-4">
            <div class="col-md-6">
                <div class="rounded bg-white p-5 h-100">
                    <h5>Senior Software Engineer (FinTech) @@ <a href="https://www.zenoti.com/" target="_blank">Zenoti</a></h5>
                    <p><em>Jul 2022 – Present</em></p>
                    <hr/>
                    <p>
                        Working on a high-availability customer centric SaaS product's FinTech team. Fast delivery of high-stake features in a zero-fault-tolerant environment. Collaborated within and across teams following agile methodology to ensure timely delivery.
                    </p>
                    <ul>
                        <li>Helped in bringing down customer escalations by 33% in less than 4 months of joining.</li>
                        <li>Worked on payment features with high volume of transactions, as high as $17 million a month.</li>
                        <li>Approachable and team player.</li>
                    </ul>
                    <p>
                        Tech stack:
                        <span class="badge text-bg-secondary me-1">C#</span>
                        <span class="badge text-bg-secondary me-1">ASP.NET</span>
                        <span class="badge text-bg-secondary me-1">SQL Server</span>
                        <span class="badge text-bg-secondary me-1">HTML</span>
                        <span class="badge text-bg-secondary me-1">CSS</span>
                        <span class="badge text-bg-secondary me-1">JavaScript</span>
                        <span class="badge text-bg-secondary me-1">jQuery</span>
                        <span class="badge text-bg-secondary me-1">Git</span>
                        <span class="badge text-bg-secondary me-1">Sass</span>
                        <span class="badge text-bg-secondary me-1">TypeScript</span>
                        <span class="badge text-bg-secondary me-1">Angular</span>
                        <span class="badge text-bg-secondary me-1">Kafka</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rounded bg-white p-5 h-100">
                    <h5>.NET Developer @@ <a href="https://www.allyis.com/" target="_blank">Allyis</a></h5>
                    <p><em>Nov 2020 – Jul 2022</em></p>
                    <hr/>
                    <p>
                        Worked with internal as well as clients' projects including Microsoft for enabling data collection, organization and automation of information sharing and management. Full-stack web development and day-to-day management of team of 6-10 developers, keeping their spirit up and high always!
                    </p>
                    <ul>
                        <li>Architectural & design pattern decisions.</li>
                        <li>Feature development and maintenance of operations application.</li>
                        <li>Integration of application with SharePoint/Azure DevOps data storage.</li>
                        <li>Translating client requirements to fully functional application code in multiple tech stacks within limited time available in a fast-paced agile environment.</li>
                        <li>Internal product development's technical monitoring using ASP.NET Core tech stack</li>
                    </ul>
                    <p>
                        Tech stack:
                        <span class="badge text-bg-secondary me-1">C#</span>
                        <span class="badge text-bg-secondary me-1">ASP.NET Core</span>
                        <span class="badge text-bg-secondary me-1">ASP.NET MVC</span>
                        <span class="badge text-bg-secondary me-1">SQL Server</span>
                        <span class="badge text-bg-secondary me-1">Dapper ORM</span>
                        <span class="badge text-bg-secondary me-1">ReactJS</span>
                        <span class="badge text-bg-secondary me-1">HTML</span>
                        <span class="badge text-bg-secondary me-1">CSS</span>
                        <span class="badge text-bg-secondary me-1">JavaScript</span>
                        <span class="badge text-bg-secondary me-1">jQuery</span>
                        <span class="badge text-bg-secondary me-1">SharePoint</span>
                        <span class="badge text-bg-secondary me-1">SharePoint Framework (spfx)</span>
                        <span class="badge text-bg-secondary me-1">Azure DevOps</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rounded bg-white p-5 h-100">
                    <h5>Product Engineer @@ <a href="https://mitratech.com/products/inszoom/" target="_blank">Mitratech</a></h5>
                    <p><em>JJuly 2018 – Nov 2020</em></p>
                    <hr/>
                    <p>
                        Responsible for Implementing clients' requirements as features in the immigration management product. Analysis of existing code to implement new requirements with zero impact and test for bug-free delivery every day.
                    </p>
                    <ul>
                        <li>Go-to-person on the floor for Proof-of-Concepts.</li>
                        <li>Member of the core-tech team, making architectural decisions and coding standards.</li>
                        <li>Hands-on with implementation of third-party libraries and integrations.</li>
                        <li>Once brought down server CPU utilization from 90% to 20% and won Employee of the Month.</li>
                    </ul>
                    <p>
                        Tech stack:
                        <span class="badge text-bg-secondary me-1">C#</span>
                        <span class="badge text-bg-secondary me-1">VB.NET</span>
                        <span class="badge text-bg-secondary me-1">ASP.NET</span>
                        <span class="badge text-bg-secondary me-1">ASP.NET MVC</span>
                        <span class="badge text-bg-secondary me-1">SQL Server</span>
                        <span class="badge text-bg-secondary me-1">Vue.js</span>
                        <span class="badge text-bg-secondary me-1">Dapper ORM</span>
                        <span class="badge text-bg-secondary me-1">PostgreSQL</span>
                        <span class="badge text-bg-secondary me-1">HTML</span>
                        <span class="badge text-bg-secondary me-1">CSS</span>
                        <span class="badge text-bg-secondary me-1">JavaScript</span>
                        <span class="badge text-bg-secondary me-1">jQuery</span>
                        <span class="badge text-bg-secondary me-1">Knockout.js</span>
                        <span class="badge text-bg-secondary me-1">Kendo UI</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rounded bg-white p-5 h-100">
                    <h5>Internship @@ <a href="https://www.intellectdesign.com/" target="_blank">Intellect Design Arena Ltd.</a></h5>
                    <p><em>January 2018 – June 2018</em></p>
                    <hr/>
                    <p>
                        Focused on unit and integration testing of Loan Management System for bug-free delivery.
                    </p>
                    <ul>
                        <li>Generated report content for new email alerts from database.</li>
                        <li>Worked on version control implementation of codebase of LMS.</li>
                    </ul>
                    <p>
                        Tech stack:
                        <span class="badge text-bg-secondary me-1">JSP</span>
                        <span class="badge text-bg-secondary me-1">Java</span>
                        <span class="badge text-bg-secondary me-1">HTML</span>
                        <span class="badge text-bg-secondary me-1">CSS</span>
                        <span class="badge text-bg-secondary me-1">JavaScript</span>
                        <span class="badge text-bg-secondary me-1">jQuery</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Skills Section -->
<section id="skills" class="bg-white py-5">
    <div class="container text-center">
        <h2>Technical Proficiencies</h2>
        <p>Technologies I work with to build efficient and scalable applications:</p>
        <div class="row mt-5">
            <div class="col-md-3">
                <img src="assets/images/dot-net-logo.png" alt=".NET Logo" class="img-fluid mb-2" style="height: 50px;">
                <h5>.NET Core</h5>
                <p>Building robust backend solutions with a reliable and scalable structure.</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/microsoft-sql-server-logo-png.png" alt="SQL Server Logo" class="img-fluid mb-2" style="height: 50px;">
                <h5>SQL Server</h5>
                <p>Designing and managing databases for high-performance applications.</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/html-css-js-logo.png" alt="JavaScript Logo" class="img-fluid mb-2" style="height: 50px;">
                <h5>JavaScript, HTML, CSS</h5>
                <p>Creating responsive and user-friendly interfaces for seamless user experiences.</p>
            </div>
            <div class="col-md-3">
                <img src="assets/images/vuejs-logo.png" alt="Vue.js Logo" class="img-fluid mb-2" style="height: 50px;">
                <h5>Vue.js</h5>
                <p>Developing dynamic front-end applications with an intuitive and component-based approach.</p>
            </div>
        </div>
    </div>
</section>
